@model DataDecipher.WebApp.Models.RawData

<br>
<div>Contents of the file: @Model.FileName</div>
<br /><br />
<div style="overflow: auto; width:600px; height:600px">
    <asp:TextBox textmode="multiline">
        @Model.Data
    </asp:TextBox>
</div>
