@model DataDecipher.WebApp.Models.MainViewModel
<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="row>">
    <div class="col-md-12">
        <h6>3. Set Instrument Data</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the file: @Model.SelectedDataSourceName</span>
        </div>
        <div class="card-body">
            <div id="editor">
                <p>
                    @Model.RawData
                </p>
                <br />
            </div>
            <br />
            <div id="DisplayDSFooter">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </div>

    </div>
</div>
<script>var quill = new Quill('#editor', {
        theme: 'snow'
});</script>