@model DataDecipher.WebApp.Models.MainViewModel

<div class="row>">
    <div class="col-md-12">
        <h6>Set Processed Data</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the processed file</span>
        </div>
        <div class="card-body">
            <form asp-controller="Main" asp-action="DisplayParserConfiguration" data-ajax-begin="onLinkPDBegin" data-ajax-complete="onLinkPDComplete"
                  data-ajax-failure="onLinkPDFailed" data-ajax-success="onLinkPDSuccess"
                  data-ajax="true" data-ajax-method="POST">
                <div class="container-fluid">
                    <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                    <input type="hidden" name="SelectedDataSourceNameInDisplayProcessedData" asp-for="@Model.SelectedDataSourceName" />
                    <div>
                        <textarea class="form-control border border-black rounded" rows="15" cols="150" name="textboxProcessedDataToBeDisplayed">@Model.ProcessedData</textarea>
                    </div>
                    <br />
                    <div>
                        <input class="btn btn-primary" type="submit" value="Set Parsing Rules" />
                    </div>
                    <div id="DisplayPDFooter1">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

    var displayPDFooter = $("#DisplayPDFooter1");

    var onLinkPDBegin = function(data,status) {
            displayPDFooter.html("<span class=\"text-primary\">linking processed data please wait...</span>");
    };

    var onLinkPDComplete = function(data, status) {
            displayPDFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Processed data linked successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
            $('#SetParser').html(data.responseText);
    };

    var onLinkPDSuccess = function(context) {

    };

    var onLinkPDFailed = function(context) {

    };

</script>