@model DataDecipher.WebApp.Models.MainViewModel
<!-- Include stylesheet -->
@*<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">*@
<div class="row>">
    <div class="col-md-12">
        <h6>Set Processed Data</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the processed file</span>
        </div>
        <div class="card-body">
            <form asp-controller="Main" asp-action="LinkProcessedDataToMethod" data-ajax-begin="onLinkPDBegin" data-ajax-complete="onLinkPDComplete"
                  data-ajax-failure="onLinkPDFailed" data-ajax-success="onLinkPDSuccess"
                  data-ajax="true" data-ajax-method="POST">
                <div class="container-fluid">
                    <input type="hidden" asp-for="@Model.SelectedMethod.Id" />
                    <input type="hidden" asp-for="@Model.SelectedDataSourceName" />
                    <div id="pdeditor1">
                        <p>
                            @Model.ProcessedData
                        </p>
                        <br />
                    </div>
                    <br />
                    <div id="DisplayPDFooter1">
                        <input class="btn btn-primary" type="submit" value="Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>var pdquill = new Quill('#pdeditor1', {
        theme: 'snow'
});
var displayPDFooter = $("#DisplayPDFooter1");

var onLinkPDBegin = function(data,status) {
        displayPDFooter.html("<span class=\"text-primary\">linking processed data please wait...</span>");
};

var onLinkPDComplete = function(data, status) {
        displayPDFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Processed data linked successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#SetParser').html(data.responseText);
};

var onLinkPDSuccess = function(context) {

};

var onLinkPDFailed = function(context) {

};</script>