@model DataDecipher.WebApp.Models.MainViewModel
<div class="row>">
    <div class="col-md-8">
        <h6>Set your parser configuration</h6>
        <br />
    </div>
</div>
<div id="InitParser" class="card-deck">
    @await Html.PartialAsync("~/Views/CsvParserConfig/_CreateAndOrSaveNewCsvParserConfig.cshtml", Model)
    @await Html.PartialAsync("~/Views/CsvParserConfig/_ApplyExistingCsvParserConfig.cshtml", Model)
</div>