@model DataDecipher.WebApp.Models.MainViewModel
<div class="row>">
    <div class="col-md-12">
        <h6>4. Set your parser configuration for the file: @Model.SelectedDataSourceName</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    @await Html.PartialAsync("~/Views/ParserCsvFile/_NewParserCsvFile.cshtml", Model.SelectedParser)
    @await Html.PartialAsync("~/Views/ParserCsvFile/_ListParserCsvFiles.cshtml", Model)
</div>