@model DataDecipher.WebApp.Models.MainViewModel
<div class="row>">
    <div class="col-md-12">
        <h6>Parsed Data for file: @Model.SelectedDataSourceName</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the processed file in tabular format</span>
        </div>
        <div class="card-body">
            @await Html.PartialAsync("~/Views/Shared/_ParsedData.cshtml", Model.parsedData)
        </div>
    </div>
</div>
