@model DataDecipher.WebApp.Models.Method

@{
    ViewData["Title"] = "Main Page";
    Layout = "_MainLayout";
}
<br />
<div class="container-fluid">
    <h5>Welcome to Data Decipher</h5>
    <p>Use instructions below to quickly obtain insights from your data and generate reports</p>
</div>
@await Html.PartialAsync("~/Views/Method/_NewMethod.cshtml")

