@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    
    <div class="container">
        <div class="col-md-6 content-center">
            <div class="card card-login card-plain">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="header header-primary text-center">
                        <div>
                            <img src="../../lib/bootstrap/assets/img/main-logo.png" alt="">
                        </div>
                    </div>
                    <div class=content>
                        <h6>Create a new account</h6>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input asp-for="Input.Email" placeholder="Email..." class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Email" class="badge badge-danger"></span>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons objects_key-25"></i>
                            </span>
                            <input asp-for="Input.Password" placeholder="Password..." class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Password" class="badge badge-danger"></span>
                        <div class="input-group form-group-no-border input-lg">
                            <span class="input-group-addon">
                                <i class="now-ui-icons objects_key-25"></i>
                            </span>
                            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password..." class="form-control" />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="badge badge-danger"></span>
                        <input type="submit" value="Register" class="btn btn-primary btn-round btn-lg btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
