@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Load an existing CSV Parser</span>
    </div>
    <div class="card-body">
        <form asp-controller="Main" asp-action="SelectParser" data-ajax-begin="onLoadMethodBegin" data-ajax-complete="onLoadMethodComplete"
              data-ajax-failure="onLoadMethodFailed" data-ajax-success="onLoadMethodSuccess"
              data-ajax="true" data-ajax-method="POST">
            <div class="container-fluid">
                <div class="form-group">
                    @for (int i = 0; i < Model.AvailableParsers.Count; i++)
                    {
                        <div>
                            @Html.RadioButtonFor(m => m.SelectedParserId, @Model.AvailableParsers[i].ID)
                            <label for="@Model.AvailableParsers[i].ID">
                                @Model.AvailableParsers[i].Name
                            </label>
                        </div>
                    }
                </div>
                <div id="ListParserFooter">
                    <input class="btn btn-primary" type="submit" value="Load" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
var loadParserFooter = $("#ListParserFooter");
var onLoadParserBegin = function() {
        loadParserFooter.html("<span class=\"text-primary\">Loading parser please wait...</span>");};


var onLoadParserComplete = function(data, status) {
        loadParserFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Method loaded successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#SetParser').html(data.responseText);};

var onLoadParserSuccess = function(context) {};

var onLoadParserFailed = function(context) {};
</script>
