@model DataDecipher.WebApp.Models.MainViewModel

<div class="card">
    <div class="card-header">
        <span class="text-primary">Load an existing method</span>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row>">
                <div class="col>">
                    <div class="form-group">
                        <label asp-for="@Model.SelectedMethod.Name" class="badge badge-default-noborder"></label>
                        @Html.DropDownListFor(s => s.AvailableMethods, new SelectList(Model.AvailableMethods, "Id", "Name"), "Select a method", new { @class = "form-control", onchange = "MethodIsSelectedFromMethodList(this.value)", id = "selectedMethodName" })
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="SelectedAvailableMethod" />
        <div id="SelectedMethodDetails">
            @await Html.PartialAsync("~/Views/Methods/_DisplaySelectedMethod.cshtml", Model)
        </div>
    </div>
</div>

<script type="text/javascript">

    function MethodIsSelectedFromMethodList(){
        selectedMethodId = document.getElementById("selectedMethodName").value;
        $.ajax({
            url: '/Main/ShowSelectedMethodDetails',
            type: 'POST',
            datatype: 'text',
            contentType: 'application/x-www-form-urlencoded',
            data: { SelectedMethodId: selectedMethodId },
            success: function(content) {
                $('#SelectedMethodDetails').html(content);
            },
            error: function(e) { }
        });
    }

</script>