@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Load an existing method</span>
    </div>
    <div class="card-body">
        <form asp-controller="Main" asp-action="SelectMethod" data-ajax-begin="onLoadMethodBegin" data-ajax-complete="onLoadMethodComplete"
                  data-ajax-failure="onLoadMethodFailed" data-ajax-success="onLoadMethodSuccess"
                  data-ajax="true" data-ajax-method="POST">
            <div class="container-fluid">
                <div class="form-group">
                    @for (int i = 0; i < Model.AvailableMethods.Count; i++)
                    {
                    <div>
                        @Html.RadioButtonFor(m => m.SelectedMethodId, @Model.AvailableMethods[i].Id)
                        <label for="@Model.AvailableMethods[i].Id">
                            @Model.AvailableMethods[i].Name
                        </label>
                    </div>
                    }
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Load" />
                </div>
                <div id="ListMethodFooter">
                </div>
            </div>
        </form>
    </div>
</div>
<script>var loadMethodFooter = $("#ListMethodFooter");

var onLoadMethodBegin = function() {
        loadMethodFooter.html("<span class=\"text-primary\">Loading method please wait...</span>");
};


var onLoadMethodComplete = function(data, status) {
        loadMethodFooter.html("<div class=\"alert alert-success\" role=\"alert\"><div class=\"container-fluid\"><div class=\"alert-icon\"><i class=\"now-ui-icons ui-2_like\"></i></div>Method loaded successfully.<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\"><i class=\"now-ui-icons ui-1_simple-remove\"></i></span></button></div></div>");
        $('#SetDataSource').html(data.responseText);
};

var onLoadMethodSuccess = function(context) {

};

var onLoadMethodFailed = function(context) {

};</script>
