@model DataDecipher.WebApp.Models.MainViewModel

<div class="card">
    <div class="card-header">
        <span class="text-primary">
            Load an existing method
            <select id="ShowingExistingMethods">
                <option selected disabled="disabled">-- Select an existing method --</option>
                @for (int i = 0; i < Model.AvailableMethods.Count; i++)
                {
                    <option for="@Model.AvailableMethods[i].Id">
                        @Model.AvailableMethods[i].Name
                    </option>
                }
            </select>
        </span>
    </div>
    <div id="SelectedMethodDetails" class="card-body">
        @await Html.PartialAsync("~/Views/Methods/_DisplaySelectedMethod.cshtml", Model)
    </div>
</div>

<script type="text/javascript">

    document.getElementById("ShowingExistingMethods").onchange=function(){
        selectedMethodName = this.options[this.selectedIndex].text;
        $.ajax({
                    url: '/Main/ShowSelectedMethodDetails',
                    type: 'POST',
                    datatype: 'text',
                    contentType: 'application/x-www-form-urlencoded',
                    data: { SelectedMethodName: selectedMethodName },
                    success: function(content) {
                        $('#SelectedMethodDetails').html(content);
                    },
                    error: function(e) { }
                });
    }</script>