@model DataDecipher.WebApp.Models.MainViewModel
<div class="card">
    <div class="card-header">
        <span class="text-primary">Try from sample datasources</span>
    </div>
    <div class="card-body">
        <form id="frmLstSampleDS" asp-controller="Methods" asp-action="SelectSampleDS" data-ajax-method="POST">
            <div class="container-fluid">
                <div class="form-group">
                    @for (int i = 0; i < Model.AvailableSampleDataSources.Count; i++)
                    {
                        <div class="radio">
                            <input name="radioMethod" value="@Model.AvailableSampleDataSources[i].Id" id="@Model.AvailableSampleDataSources[i].Id" type="radio">
                            <label for="@Model.AvailableSampleDataSources[i].Id">
                                @Model.AvailableSampleDataSources[i].Name
                            </label>
                        </div>
                    }
                </div>
                <div id="ListMethodFooter" class="col">
                    <input class="btn btn-primary" type="submit" value="Load" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>

$("#frmLstSampleDS").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        $.ajax({
            url: '/Main/DisplayDataSource',
            type: 'GET',
            datatype: 'text',
            contentType: 'application/x-www-form-urlencoded',
            success: function(content) {
                $('#DisplayDataSource').html(content);
            },
            error: function(e) { }
        })
    });
</script>
