
.domain
{
    fill: none;
    stroke-width: 2px;
    stroke: black;
}
.Line1
{
    stroke:aqua;
    fill:none;
    stroke-width:2px;
    stroke-linejoin:round;
    stroke-linecap: round;

} 
.Line2
{
    stroke:pink;
    fill:none;
    stroke-width:2px;
    stroke-linejoin:round;
    stroke-linecap: round;
}
.legend1 {
    fill:aqua;
}
.legend2 {
    fill:pink;
}
.legendText {
    text-anchor:end;
    font-size:12px;
    font-family: sans-serif;
    font-weight: bold;
}
.circle2
{
    fill:deeppink;
    border: 1px;
    stroke: black;
}
.circle1
{
    fill:deeppink;
    border: 1px;
    stroke: black;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    background: #f99e1a;
    font-family: sans-serif;
    border: 0px;
    border-radius: 8px;
}
.tooltip p {
    margin: 0;
    padding: 0;
}

.svgDN {
-webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.3) );
filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.25) );
}

/*Styling for the lines connecting the labels to the slices*/
.polylineDN{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}

/* Make the percentage on the text labels bold*/
.labelNameDN tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelNameDN {
    font-size: 0.9em;
    font-style: italic;
}
/* */
.toolCircleDN {
    font-size: 0.9em;
    font-style: italic;
}
axixLC
{
    stroke: black;
}
.bartextLC
{
    font-family: sans-serif;
    font-size: 12px;
    stroke: black;
}
.circleSP
{
    fill:blue;
    border: 1px;
    stroke: black   ;
}
.bartextHLC
{
        font-family: sans-serif;
        font-size: 12px;
        stroke: black;
}