@model System.Exception
<div class="row>">
    <div class="col-md-12">
        <h6>Oops something went wrong</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Report error</span>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label class="badge badge-default-noborder">Error details</label>
                <textarea readonly asp-for="@Model.Message" class="form-control" rows="5">@Model.Message</textarea>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Mail us" />
            </div>

        </div>
    </div>
</div>
