@model DataDecipher.WebApp.Models.RawData
<div>
    <form action="">
        <label for="recordStart">Record Start:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="recordStart" placeholder="Record Start String..." class="form-control" />
        </div>
        <label for="recordEnd">Record End:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="recordEnd" placeholder="Record End String..." class="form-control" />
        </div>
        <br />
        <label for="headerStart">Header Start:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="headerStart" placeholder="Header Start String..." class="form-control" />
        </div>
        <label for="headerEnd">Header End:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="headerEnd" placeholder="Header End String..." class="form-control" />
        </div>
        <br />
        <label for="tableStart">Table Start:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="tableStart" placeholder="Table Start String..." class="form-control" />
        </div>
        <label for="tableEnd">Table End:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="tableEnd" placeholder="Table End String..." class="form-control" />
        </div>
        <br />
        <label for="headerFields">Header Field(s):</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="headerFields" placeholder="Header Fields..." class="form-control" />
        </div>
        <br />
        <label for="tableFields">Table Field(s):</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="tableFields" placeholder="Table Fields..." class="form-control" />
        </div>
        <br />
        <label for="lstDelimiter">Delimiter: </label>
        <select id="listDelimiter1" name="lstDelimiter">
            <option value=",">Comma (,)</option>
            <option value=";">Semicolon (;)</option>
            <option value=":">Colon (:)</option>
            <option value="|">Pipe (|)</option>
        </select>
        <br /><br />
        <input type="button" id="showParsedTxtData" value="Parse Data" class="btn btn-primary btn-round" title="Click to parse the input data as per configuration above" />
    </form>
</div>


<script>
$(document).ready(function() {
    var e = document.getElementById("listDelimiter1");
    $('#showParsedTxtData').click(function() {
        $.ajax({
            url: '/Main/DisplayParsedTxtDatFile',
            type: 'POST',
            datatype: 'text',
            contentType: 'application/x-www-form-urlencoded',
            data: { inputSelectedFile: '@Model.FilePath', recordMarkerStartText: $('#recordStart').val(), recordMarkerEndText: $('#recordEnd').val(), tableMarkerStartText: $('#tableStart').val(), tableMarkerEndText: $('#tableEnd').val(), headerMarkerStartText: $('#headerStart').val(), headerMarkerEndText: $('#headerEnd').val(), headerFieldsSelection: $('#headerFields').val(), tableFieldsSelection: $('#tableFields').val(), delimiter: e.options[e.selectedIndex].value },
            success: function(content) {
                $('#divParsedDataContainer').html(content);
            },
            error: function(e) { }
        });
    });
});
</script>

@*data: { inputSelectedFile: '@Model.filePath', recordMarkerStartText: $('#recordStart').val(), recordMarkerEndText: $('#recordEnd').val(), tableMarkerStartText: $('#tableStart').val(), tableMarkerEndText: $('#tableEnd').val(), headerMarkerStartText: $('#headertart').val(), headerMarkerEndText: $('#headerEnd').val(), headerFieldsSelection: $('#headerFields').val(), tableFieldsSelection: $('#tableFields').val(), delimiter: e.options[e.selectedIndex].value},*@
