@model DataDecipher.WebApp.Models.RawData
<div>
    <form action="">
        <label for="parentTag">Parent Tag:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="parentTag" placeholder="Parent Tag..." class="form-control" />
        </div>
        <br />
        <label for="headerFields">Header Fields:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="headerFields" placeholder="Header Fields..." class="form-control" />
        </div>
        <br />
        <label for="tableFields">Table Fields:</label>
        <div class="input-group form-group-no-border input-lg">
            <span class="input-group-addon">
                <i class="now-ui-icons text_caps-small"></i>
            </span>
            <input type="text" id="tableFields" placeholder="Table Fields..." class="form-control" />
        </div>
        <br /><br />
        <input type="button" id="showParsedXmlData" value="Parse Data" class="btn btn-primary btn-round" title="Click to parse the input data as per configuration above" />
    </form>
</div>

<script>
$(document).ready(function() {
    $('#showParsedXmlData').click(function() {
        $.ajax({
            url: '/Main/DisplayParsedXmlFile',
            type: 'POST',
            datatype: 'text',
            contentType: 'application/x-www-form-urlencoded',
            data: { inputSelectedFile: '@Model.FilePath', parentTag: $('#parentTag').val(), headerFields: $('#headerFields').val(), tableFields: $('#tableFields').val()},
            success: function(content) {
                $('#divParsedDataContainer').html(content);
            },
            error: function(e) { }
        });
    });
});
</script>