@model DataDecipher.WebApp.Models.ParsedData
@using System.Data;

<br>
<div>Parsed contents of the file: @Model.fileName</div>
<br /><br />
<div style="overflow: auto; width:800px; height:600px">
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                @foreach (DataColumn col in Model.parsedDataTable.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.parsedDataTable.Rows)
            {
                <tr>
                    @foreach (DataColumn col in Model.parsedDataTable.Columns)
            {
                <td>@row[col.ColumnName]</td>
            }
                </tr>
            }
        </tbody>
    </table>
</div>
