@model DataDecipher.WebApp.Models.RawData
<div class="row>">
    <div class="col-md-12">
        <h6>3. Display selected file</h6>
        <br />
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <span class="text-primary">Contents of the file: @Model.fileName</span>
        </div>
        <div class="card-body">
        <p>
            @Model.rawData
        </p>
        </div>
    </div> 
</div>